<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.BorrowMapper">
    <select id="findList" parameterType="Map" resultType="com.ljb.pojo.Borrow">
  		select OR_NO as orNo,StuName as stuName,StuNO as stuNo,Class as stuClazz,BookNO as bookNo,BookName as bookName,BorrowTime as borrowTime,returnTime as returnTime from stuborrow where StuName like #{username} limit #{offset},#{pageSize}
  	</select>
	<select id="userList" parameterType="Map" resultType="com.ljb.pojo.Borrow">
		select OR_NO as orNo,StuName as stuName,StuNO as stuNo,Class as stuClazz,BookNO as bookNo,BookName as bookName,BorrowTime as borrowTime,returnTime as returnTime from stuborrow where StuName = #{username} limit #{offset},#{pageSize}
	</select>
	<select id="userAdd" parameterType="com.ljb.pojo.Borrow" resultType="String">
		call ShowBorrowInfo(#{bookNo},#{stuNo})
	</select>
	<select id="showInfo" parameterType="com.ljb.pojo.Borrow" resultType="String">
		select show_Info(#{bookNo},#{stuNo})
	</select>
    <select id="findAll" resultType="com.ljb.pojo.Borrow">
  		select OR_NO as orNo,StuName as stuName,StuNO as stuNo,Class as stuClazz,BookNO as bookNo,BookName as bookName,BorrowTime as borrowTime,returnTime as returnTime from stuborrow where StuName = #{stuSn}
  	</select>
    <select id="getTotal" parameterType="Map" resultType="Integer">
  		select count(OR_NO) from stuborrow where StuName like #{username}
  	</select>
    <update id="add" parameterType="com.ljb.pojo.Borrow">
  		insert into stuborrow(OR_NO,StuName,StuNO,Class,BookNO,BookName,BorrowTime,returnTime) values(null,#{stuName},#{stuNo},#{stuClazz},#{bookNo},#{bookName},#{borrowTime},#{returnTime})
  	</update>
    <update id="edit" parameterType="com.ljb.pojo.Borrow">
  		update stuborrow set StuName = #{stuName},StuNO = #{stuNo},Class = #{stuClazz},BookNO = #{bookNo},BookName = #{bookName},BorrowTime = #{borrowTime},returnTime = #{returnTime} where OR_NO = #{orNo}
  	</update>
    <update id="delete" parameterType="String">
  		delete from stuborrow where OR_NO in (${value})
  	</update>
</mapper>