<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.ContributeMapper">
    <select id="findList" parameterType="Map" resultType="com.ljb.pojo.Contribute">
  		select Cb_NO as cNo,Cb_name as cName,Cb_sex as cSex,Cb_tle as cTle,Cb_book as cBook,Cb_time as cTime from contributebook where Cb_name like #{username} limit #{offset},#{pageSize}
  	</select>

    <select id="getTotal" parameterType="Map" resultType="Integer">
  		select count(Cb_NO) from contributebook where Cb_name like #{username}
  	</select>
    <update id="add" parameterType="com.ljb.pojo.Contribute">
  		insert into contributebook(Cb_NO,Cb_name,Cb_sex,Cb_tle,Cb_book,Cb_time) values(null,#{cName},#{cSex},#{cTle},#{cBook},now())
  	</update>

</mapper>