<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.ReturnMapper">
    <select id="findList" parameterType="Map" resultType="com.ljb.pojo.Return">
  		select R_NO as rNo,BookNO as bookNo,StuNO as stuNo,BorrowTime as borrowTime,ReturnTime as returnTime,StuName as stuName from returned where StuName like #{username} limit #{offset},#{pageSize}
  	</select>

	<select id="userList" parameterType="Map" resultType="com.ljb.pojo.Return">
		select R_NO as rNo,BookNO as bookNo,StuNO as stuNo,BorrowTime as borrowTime,ReturnTime as returnTime,StuName as stuName from returned where StuName = #{username} limit #{offset},#{pageSize}
	</select>


	<select id="userAdd" parameterType="com.ljb.pojo.Return" resultType="String">
		call showRecordInfo(#{bookNo},#{stuNo})
	</select>

    <select id="getTotal" parameterType="Map" resultType="Integer">
  		select count(R_NO) from returned where StuName like #{username}
  	</select>
    <update id="add" parameterType="com.ljb.pojo.Return">
  		insert into returned(R_NO,BookNO,StuNO,BorrowTime,ReturnTime,StuName) values(null,#{bookNo},#{stuNo},#{borrowTime},#{returnTime},#{stuName})
  	</update>
    <update id="edit" parameterType="com.ljb.pojo.Return">
  		update returned set BookNO = #{bookNo},StuNO = #{stuNo},BorrowTime = #{borrowTime},ReturnTime = #{returnTime},StuName = #{stuName} where R_NO = #{rNo}
  	</update>
    <update id="delete" parameterType="String">
  		delete from returned where R_NO in (${value})
  	</update>
</mapper>