<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.StudentMapper">
    <select id="findByUserName" parameterType="String" resultType="com.ljb.pojo.Student">
  		select stu_id as stuId,stu_sn as stuSn,stu_cid as stuCid,stu_pw as stuPw,stu_p as photo,stu_sex as sex,Permitted as per,b_number as num,stu_m as remark from student1 where stu_sn = #{name}
  	</select>
    <insert id="add" parameterType="com.ljb.pojo.Student">
  		insert into student1(stu_sn,stu_cid,stu_pw,stu_p,stu_sex,Permitted,b_number,stu_m) values(#{stuSn},#{stuCid},#{stuPw},#{photo},#{sex},#{per},#{num},#{remark})
  	</insert>

    <update id="edit" parameterType="com.ljb.pojo.Student">
  		update student1 set stu_sn = #{stuSn},stu_cid = #{stuCid},stu_pw = #{stuPw},stu_p = #{photo},stu_sex=#{sex},Permitted = #{per},b_number = #{num},stu_m = #{remark} where stu_id = #{stuId}
  	</update>
    <update id="delete" parameterType="String">
  		delete from student1 where stu_id in (${value})
  	</update>
    <select id="findList" parameterType="Map" resultType="com.ljb.pojo.Student">
        select stu_id as stuId,stu_sn as stuSn,stu_cid as stuCid,stu_pw as stuPw,stu_p as photo,stu_sex as sex,Permitted as per,b_number as num,stu_m as remark from student1 where 1=1
        <if test="username !=null">
            and stu_sn like #{username}
        </if>
       <!-- <if test="clazzId >0">
            and stu_cid = #{clazzId}
        </if>-->
        limit #{offset},#{pageSize}
    </select>
    <select id="findAll" resultType="com.ljb.pojo.Student">
  		select stu_cid as stuCid from student1
  	</select>
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(stu_id) from student1 where 1=1
        <if test="username !=null">
            and stu_sn like #{username}
        </if>
        <if test="gradeId !=null">
            and stu_cid = #{clazzId}
        </if>
    </select>
</mapper>